
<div class="answer-div">
<%= @question %>
<p><em>-You</em></p>
</div>
<div class="answer-div">
<%= @answer %>
<p><em>-Your coach</em></p>
</div>
<p><%= link_to("Ask a new question", { action: "ask" }) %></p>

